.logo {
  margin: 2.5em auto;
  width: 100%;
}

.menu {
  font-size: 1em;
  margin: 2em 0;
}

.menu .jugarButton,
.menu .instruccionesButton {
  display: inline-block;
  margin: 1em;
}

.principal {
  margin: 0 0 3em 0;
  overflow: hidden;
}

.jugar,
.instrucciones,
.resultado {
  display: none;
}

.jugar .input-group-container > span {
  display: flex;
  flex: 1;
}

.estrellasContainer {
  background: #ffee78;
}

.boletoContainer .botonSuerte {
  margin: 1.5em;
}

.boleto,
.estrellasContainer {
  border: 1px solid #f4511e;
  border-radius: 10px;
  margin: 0 1em;
  padding: 1em;
}

.boleto h3,
.estrellasContainer h3 {
  color: #f4511e;
  margin: 0 0 1em 0;
}

.numeros label,
.estrellasContainer label {
  display: inline-block;
  margin: 0.4em;
  width: 2em;
}

.numeros label,
.estrellas label {
  cursor: pointer;
}

.numeros input,
.estrellasContainer input {
  display: none;
}

.numeros input:checked + span,
.estrellasContainer input:checked + span {
  background: #333;
  color: #fff;
}

.numeros span,
.estrellasContainer span {
  background: #fff;
  border: 1px solid #f4511e;
  border-radius: 3px;
  color: #f4511e;
  display: block;
  line-height: 2em;
}

.numeros span:hover,
.estrellasContainer span:hover {
  background: #e0e0e0;
}

.jugarEuromillon {
  display: none;
  margin: 1em 0;
  overflow: hidden;
}

.jugarEuromillon .miCombinacion,
.jugarEuromillon .combinacionGanadora {
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  width: 14em;
}

.jugarEuromillon .tuApuesta,
.jugarEuromillon .apuestaGanadora {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  width: 9em;
}

.jugarEuromillon .tuApuesta {
  background: #40c4ff;
}

.jugarEuromillon .apuestaGanadora {
  background: #00e676;
}

.toggleButton {
  display: block;
  height: 100%;
}

.mensajeAciertos {
  background: #00e676;
  color: #fff;
  display: none;
  height: 4em;
  line-height: 4em;
  margin: auto auto 2em auto;
  width: 12em;
}

.input-group-container {
  width: 200px;
  margin-right: 1em;
}

.reintentar {
  margin: 2em 0;
}

.acierto {
  animation: filaAcertada .6s infinite alternate;
  background: #00e676;
}

@keyframes filaAcertada {
  0% {
    background: #00e676;
  }
  100% {
    background: #fff;
  }
}
