* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --btn-primary: #00C853;
  --btn-secondary: #0091EA;
  --casilla-numeros: #FF3D00;
  --color-letras: #FFF;
}

body {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
