* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --btn-primary: #00e676;
  --btn-secondary: #0a81f0;
}

body {
  font-size: 1rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}
